:root {
  --first: #f9f7f7;
  --second: #dbe2ef;
  --third: #3f72af;
  --fourth: #112d4e;
  --logo-width: 70px;
  --border-radius: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

#logo {
  width: 70px;
  object-fit: cover;
}

.brand-name {
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #facc15;
}
